<div >
	<div class="like">
		{% if app.user %}
			<a href="{{ path('like.post', {id: post.id}) }}" data-action="like" data-nb={{ post.likes|length }}>
			{% endif %}

			<span >{{ post.likes|length }}
				J'aime</span>
			{% if app.user %}
			</a>
		{% endif %}
	</div>
</div>

