.dflex {
  display: flex;
  flex-wrap: wrap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/styles/includes/fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/styles/includes/fonts/Montserrat-Medium.ttf') format('truetype');
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 33.33vh;
  background: url('/images/bandeau-menu-admin-horizontale.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid black;
  z-index: 1;
  white-space: nowrap;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #11a197;
  opacity: 0.9;
}
header .top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: auto;
}
header .logo {
  margin-top: -30px;
  margin-left: 10%;
  z-index: 1;
}
header .logo img {
  width: 80%;
  height: auto;
}
header .title {
  z-index: 1;
  text-align: center;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin-left: 220px;
}
header .title h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #fff;
  font-size: 45px;
  font-weight: 400;
}
header .title p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  white-space: nowrap;
}
header nav {
  position: relative;
  margin-right: 5%;
  z-index: 1;
  margin-top: -150px;
}
header nav .nav-container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: -20px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
header nav ul li {
  margin-right: 20px;
  font-size: 0.8em;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
}
header nav ul li.li-flex {
  display: flex;
  align-items: center;
}
header nav .circle-container {
  margin-top: 10px;
}
header nav .circle-container .outer-circle {
  width: 35px;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header nav .circle-container .outer-circle .inner-circle {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
}
section {
  width: 100%;
  height: 60vh;
  background-color: #eee;
  z-index: 2;
  position: relative;
}
section .cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -30px;
  height: 25vh;
}
section .card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  margin-left: 30px;
  min-height: max-content;
}
section .card {
  background-color: white;
  width: 28%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -30px;
  height: 30%;
}
section .card .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
section .card .content-circle {
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .card .text-and-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}
section .card .circle {
  background-color: #f2bf2c;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section .card .circle-number {
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 3em;
  color: #777;
}
section .card .card-text h3 {
  margin: 0;
  font-size: 24px;
  text-align: left;
}
section .card .card-text p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: left;
  white-space: nowrap;
}
section .card button {
  background-color: #191e39;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
}
section .card button.common-button {
  margin: 0 auto;
  display: block;
  white-space: nowrap;
}
section .card.center-card {
  width: 37%;
}
.content-circle-news {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: flex-end;
}
.button-card {
  display: flex;
  width: auto;
  justify-content: flex-start;
}
.button-card a {
  text-decoration: none;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f2bf2c;
  width: 100%;
  min-height: 6.5vh;
}
.footer p {
  text-align: center;
  font-size: 13px;
}
@media (min-width: 1275px) and (max-width: 1920px) {
  body nav #burger-menu-button {
    display: none;
  }
  body header nav .nav-container {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    background-color: transparent;
    border: none;
    margin-bottom: 5px;
  }
  body nav .circle-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
}
@media (min-width: 761px) and (max-width: 1274px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header .logo {
    width: 25%;
    margin-right: -85px;
    margin-top: 85px;
    margin-left: -50px;
  }
  header .title {
    order: 1;
    margin-left: -20px;
    text-align: center;
    margin-top: 80px;
  }
  header .title h1 {
    font-size: 65px;
  }
  header .title p {
    font-size: 23px;
  }
  nav .nav-container {
    order: 2;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 30px;
  }
  #burger-menu-button {
    display: none;
  }
  nav .nav-container ul {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    color: #fff;
  }
  nav .nav-container ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
  }
  nav .nav-container ul li a {
    color: #fff;
  }
  nav .nav-container ul li i {
    color: #000;
  }
  section {
    height: unset;
  }
  .cards-section .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cards-section .card {
    flex: 0 0 50%;
    /* Les cartes prendront environ 50% de la largeur de card-row */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .card.center-card,
  .card-category {
    margin-right: 10px;
  }
  .content-circle-news {
    width: auto;
  }
  section .content .content-circle {
    width: auto;
  }
  section .content .text-and-button .card-text h3 {
    font-size: 25px;
  }
  section .content .text-and-button .card-text p {
    font-size: 19px;
  }
  section .button-card .common-button {
    font-size: 17px;
  }
  .footer p {
    font-size: 20px;
  }
}
@media (min-width: 319px) and (max-width: 760px) {
  header .top-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .logo {
    order: 2;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }
  header .logo img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
  header .title {
    order: 1;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    align-self: center;
  }
  header .title h1 {
    font-size: 30px;
  }
  header .title p {
    font-size: 25px;
    justify-content: center;
  }
  #nav-container {
    display: none;
  }
  nav #burger-menu-button {
    visibility: visible;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  nav .nav-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 85px;
    right: 10px;
    left: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
  }
  nav .nav-container ul {
    padding: 5px;
    margin: 0;
    gap: 0;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    margin-bottom: -10px;
  }
  nav .nav-container ul li {
    margin-bottom: 10px;
    text-align: center;
    margin-left: 10px;
  }
  nav .circle-container {
    display: none;
  }
  section {
    height: auto;
  }
  section .card-text {
    width: 100%;
  }
  section .content .card-text h3 {
    font-size: 18px;
  }
  section .content .card-text p {
    font-size: 15px;
  }
  .button {
    width: 90%;
  }
  section .card.center-card .button {
    width: 95%;
  }
  .button-card .common-button {
    font-size: 15px;
    width: 100%;
    text-align: left;
  }
  .card-row {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    gap: 0;
  }
  section .card {
    width: 100%;
    margin-top: 15px;
    margin-left: -30px;
    margin-bottom: -20px;
  }
  section .card.center-card {
    width: 100%;
  }
  section .card.center-card .circle {
    width: 60px;
    height: 60px;
  }
  section .card.card-category {
    margin-bottom: 20px;
  }
  section .card.card-chocolate {
    margin-bottom: 20px;
    margin-top: -25px;
  }
  section .card .content-circle {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  section .card .content-circle .circle {
    width: 60px;
    height: 60px;
  }
  section .card .content-circle .circle-number {
    font-size: 2.5em;
    margin-top: -5px;
  }
  section .card.center-card .circle .circle-number {
    font-size: 2.5em;
    margin-top: -5px;
  }
  .content-circle-news {
    width: auto;
  }
  .footer p {
    font-size: 13px;
  }
}
