.dflex {
  display: flex;
  flex-wrap: wrap;
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v36/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 33.33vh;
  background: url('/images/bandeau-menu-admin-horizontale.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid black;
  z-index: 1;
  white-space: nowrap;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #11a197;
  opacity: 0.9;
}
header .top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: auto;
}
header .logo {
  margin-top: -30px;
  margin-left: 10%;
  z-index: 1;
}
header .logo img {
  width: 80%;
  height: auto;
}
header .title {
  z-index: 1;
  text-align: center;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin-left: 220px;
  font-weight: 500;
}
header .title h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #fff;
  font-size: 45px;
  font-weight: 400;
}
header .title p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  white-space: nowrap;
}
header nav {
  position: relative;
  margin-right: 5%;
  z-index: 1;
  margin-top: -150px;
}
header nav .nav-container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: -20px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
header nav ul li {
  margin-right: 20px;
  font-size: 0.8em;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
}
header nav ul li.li-flex {
  display: flex;
  align-items: center;
}
header nav .circle-container {
  margin-top: 10px;
}
header nav .circle-container .outer-circle {
  width: 35px;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header nav .circle-container .outer-circle .inner-circle {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
}
section {
  width: 100%;
  height: 60vh;
  background-color: #eee;
  z-index: 2;
  position: relative;
}
section .cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -30px;
  height: 25vh;
}
section .card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  margin-left: 30px;
  min-height: max-content;
}
section .card {
  background-color: white;
  width: 28%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -30px;
  height: 30%;
}
section .card .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
section .card .content-circle {
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .card .text-and-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}
section .card .circle {
  background-color: #f2bf2c;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section .card .circle-number {
  text-align: center;
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 3em;
  margin-bottom: 50px;
  color: #777;
}
section .card .card-text h3 {
  margin: 0;
  font-size: 24px;
  text-align: left;
}
section .card .card-text p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: left;
  white-space: nowrap;
}
section .card button {
  background-color: #191e39;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
}
section .card button.common-button {
  margin: 0 auto;
  display: block;
  white-space: nowrap;
}
section .card.center-card {
  width: 37%;
}
.content-circle-news {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: flex-end;
}
.button-card {
  display: flex;
  width: auto;
  justify-content: flex-start;
}
footer {
  background-color: #f2bf2c;
  width: 100%;
  height: 6.67%;
}
@media (min-width: 1919px) {
  .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .circle-container {
    display: none;
  }
  .nav ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 9px;
  }
  header,
  .main-content,
  footer {
    padding: 5px;
  }
  .nav ul li {
    margin-bottom: 10px;
  }
  .cards-section {
    display: flex;
    flex-direction: column;
  }
}
