.dflex {
  display: flex;
  flex-wrap: wrap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/styles/includes/fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/styles/includes/fonts/Montserrat-Medium.ttf') format('truetype');
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  display: flex;
  flex-wrap: wrap;
  background-color: #dfdfdf;
}
.container-body {
  width: 82%;
  margin-top: 10vh;
}
.container-body h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 10px;
}
.container-body .table,
.container-body a {
  font-family: "Montserrat", sans-serif;
  border-spacing: 0;
}
.container-body thead {
  background-color: #f2bf2c;
  height: 50px;
  text-align: left;
}
.container-body thead th {
  padding-left: 3%;
}
.container-body tbody {
  text-align: left;
}
.container-body tbody td {
  height: 65px;
  padding-left: 3%;
  border-bottom: 2px solid #0000002f;
}
.test {
  width: 300px;
}
.test2 {
  width: 180px;
}
.container-table {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-table a {
  text-decoration: none;
}
.container-button-create {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: 90%;
}
.container-button-create .btn-create {
  border: solid 1px;
  text-align: center;
  line-height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #11a197;
  color: white;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  right: 100px;
  margin-bottom: 10px;
  border: none;
}
.container-button-create .btn-create i {
  display: none;
}
.table {
  width: 90%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.table .btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding-left: 7%;
  width: 300px;
}
.table .btn-edit {
  border: solid 2px;
  padding: 8px;
  width: 130px;
  border-radius: 5px;
  background-color: #1a1e39;
  color: white;
  height: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.table .btn-edit i {
  margin-right: 3px;
}
.table .include {
  border: solid 2px;
  padding: 8px;
  width: 130px;
  border-radius: 5px;
  background-color: #bc162e;
  color: white;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.table .include i {
  margin-right: 3px;
}
@media screen and (max-width: 1132px) {
  .container-body h1 {
    font-size: 2.5rem;
  }
  .test {
    width: 257px;
  }
  .test2 {
    width: 150px;
  }
  .table,
  th,
  td {
    font-size: 0.9rem;
  }
  .container-button-create .btn-create {
    font-size: 0.9rem;
  }
  .table .btns {
    width: 250px;
  }
  .table .btn-edit {
    text-align: center;
    width: 110px;
  }
  .table .include {
    font-size: 0.9rem;
    width: 110px;
    padding: 4px;
  }
}
@media screen and (max-width: 800px) {
  .container-body h1 {
    font-size: 2rem;
  }
  .test {
    width: 110px;
  }
  .test2 {
    width: 70px;
  }
  .table,
  th,
  td {
    font-size: 0.8rem;
  }
  .container-button-create .btn-create {
    font-size: 0.8rem;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container-button-create .btn-create span {
    display: none;
  }
  .container-button-create .btn-create i {
    display: flex;
  }
  .table .btns {
    width: 110px;
  }
  .table .btn-edit {
    text-align: center;
    width: 40px;
  }
  .table .btn-edit span {
    display: none;
  }
  .table .btn-edit i {
    margin-right: 0;
  }
  .table .include {
    font-size: 0.9rem;
    width: 40px;
    padding: 4px;
  }
  .table .include span {
    display: none;
  }
  .table .include i {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .container-body {
    width: 100%;
  }
  .container-body h1 {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  .container-table {
    width: 100%;
    overflow-x: auto;
  }
  .container-table .table,
  .container-table thead,
  .container-table tbody,
  .container-table tr,
  .container-table th,
  .container-table td {
    display: flex;
    flex-direction: column;
  }
  .container-table .table thead,
  .container-table thead thead,
  .container-table tbody thead,
  .container-table tr thead,
  .container-table th thead,
  .container-table td thead {
    display: none;
  }
  .container-table .table td,
  .container-table thead td,
  .container-table tbody td,
  .container-table tr td,
  .container-table th td,
  .container-table td td {
    padding-left: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid #0000002f;
  }
  .container-table .table .overflow,
  .container-table thead .overflow,
  .container-table tbody .overflow,
  .container-table tr .overflow,
  .container-table th .overflow,
  .container-table td .overflow {
    overflow: hidden;
    height: 200px;
  }
  .container-table .table .btns,
  .container-table thead .btns,
  .container-table tbody .btns,
  .container-table tr .btns,
  .container-table th .btns,
  .container-table td .btns {
    border: none;
  }
  .container-table .table .bt,
  .container-table thead .bt,
  .container-table tbody .bt,
  .container-table tr .bt,
  .container-table th .bt,
  .container-table td .bt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
    align-items: center;
    gap: 10px;
    padding-left: 7%;
    border: none;
  }
  .container-table .table td::before,
  .container-table thead td::before,
  .container-table tbody td::before,
  .container-table tr td::before,
  .container-table th td::before,
  .container-table td td::before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    bottom: 0;
    background-color: #f2bf2c;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .container-table .table tr,
  .container-table thead tr,
  .container-table tbody tr,
  .container-table tr tr,
  .container-table th tr,
  .container-table td tr {
    margin-bottom: 15px;
    border-bottom: 2px solid #0000002f;
    border-top: 2px solid #0000002f;
  }
}
