.dflex {
  display: flex;
  flex-wrap: wrap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/styles/includes/fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/styles/includes/fonts/Montserrat-Medium.ttf') format('truetype');
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  display: flex;
  flex-wrap: wrap;
  background-color: #dfdfdf;
}
.container-body,
.container-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container-body {
  width: 40%;
  height: 100%;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 10px;
}
a {
  font-family: "Montserrat", sans-serif;
  border-spacing: 0;
  text-decoration: none;
}
.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-collapse: collapse;
  width: auto;
}
.form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-cell-label {
  width: 150px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.form-cell {
  width: auto;
}
.yellow-background {
  background-color: #f2bf2c;
}
.custom-input {
  width: 100%;
  height: 40px;
  text-align: center;
}
.dropdown {
  cursor: pointer;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.container-table {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-table a {
  text-decoration: none;
}
.container-button-create .btn-create {
  border: solid 1px;
  text-align: center;
  width: auto;
  border-radius: 5px;
  background-color: #11a197;
  color: white;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  right: 100px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
}
.container-button-create {
  margin-top: auto;
  align-self: center;
}
.btn-edit {
  margin-top: 10px;
  border: solid 2px;
  padding: 8px 8px;
  width: auto;
  border-radius: 5px;
  background-color: #1a1e39;
  color: white;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-left: -50px;
}
.btn-create span i {
  padding-right: 3px;
}
@media (min-width: 319px) and (max-width: 760px) {
  .container-body {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
  }
  .container-body h1 {
    font-size: 30px;
  }
  .container-body h1,
  .form-row,
  .btn-edit,
  .container-button-create .btn-create {
    text-align: center;
  }
  .form-row {
    margin-bottom: 5px;
  }
  .form-cell-label {
    margin-right: 20px;
  }
  .btn-edit {
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 0;
  }
}
@media (min-width: 761px) and (max-width: 1920px) {
  .container-body {
    width: auto;
  }
  .btn-edit {
    margin-left: 0;
  }
}
