.dflex {
  display: flex;
  flex-wrap: wrap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/styles/includes/fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/styles/includes/fonts/Montserrat-Medium.ttf') format('truetype');
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Playfaire Display', serif;
  font-style: italic;
  font-weight: 400;
}
form {
  background-color: #f2bf2c;
  height: 100px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
