body {
  font-family: "Montserrat", sans-serif;
}
.profile-container {
  display: flex;
}
.profile {
  border-radius: 50%;
  width: 400px;
  height: 100px;
  object-fit: cover;
  border: 2px solid black;
  margin-top: 30px;
  margin-left: 5%;
}
.right-part {
  flex-grow: 1;
}
.example-wrapper {
  background-color: white;
  font-size: 0.8em;
  padding: 3px;
  position: absolute;
  margin: auto;
  width: 100%;
  height: auto;
  margin-left: -10%;
}
.example-wrapper ul li {
  list-style-type: none;
}
.example-wrapper .right-part {
  margin-left: 5%;
  margin-right: 5%;
}
.example-wrapper .right-part ul li:first-child {
  background-color: #f2bf2c;
  text-align: center;
  width: 100px;
  position: relative;
  left: 88%;
  font-weight: bold;
  padding: 3px 5px;
  margin-top: 10px;
}
.example-wrapper .right-part .firstname {
  font-family: "Playfair Display", serif;
}
.example-wrapper .right-part ul li:nth-child(3) {
  color: #0baa9f;
  font-weight: 900;
  margin-top: 2px;
}
.example-wrapper .right-part ul h4 {
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 0px;
}
.example-wrapper .right-part ul p {
  font-family: 'Montserrat' sans-serif;
  margin-top: 0px;
  font-weight: 500;
}
.example-wrapper .right-part .like a {
  color: #483285;
  text-decoration: none;
  font-weight: 700;
}
