.dflex {
  display: flex;
  flex-wrap: wrap;
}
body {
  font-family: "Montserrat", sans-serif;
}
.post-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  margin-bottom: 15px;
}
.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  padding-top: 25px;
}
.profile-container .profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.right-part {
  font-size: 0.8em;
  width: 70%;
}
.right-part ul {
  padding-right: 10%;
}
.right-part ul li {
  list-style-type: none;
}
.right-part ul li:first-child {
  background-color: #f2bf2c;
  text-align: center;
  width: 100px;
  font-weight: bold;
  padding: 3px 5px;
  margin-top: 10px;
}
.right-part .category {
  display: flex;
  justify-content: flex-end;
  margin-right: -15%;
}
.right-part .firstname {
  font-family: "Playfair Display", serif;
}
.right-part .lastname,
.right-part .firstname {
  font-size: 17px;
}
.right-part .lastname {
  text-transform: uppercase;
}
.right-part ul li:nth-child(3) {
  color: #0baa9f;
  font-weight: 900;
  margin-top: 2px;
}
.right-part ul h4 {
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 0px;
}
.right-part ul p {
  font-family: "Montserrat" sans-serif;
  margin-top: 0px;
  font-weight: 500;
}
.right-part .like a {
  color: #483285;
  text-decoration: none;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .post-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .right-part {
    font-size: 0.8em;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .right-part ul {
    padding-right: 0;
  }
  .category {
    width: 110%;
  }
}
