@import "../includes/variables.less";
@import "../includes/mixins.less";
@font-face {
  font-family: "Playfair Display";
  src: url("/assets/styles/includes/fonts/PlayfairDisplay-Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/styles/includes/fonts/Montserrat-Medium.ttf")
    format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: @lightGray;
  font-family: "Montserrat", sans-serif;
  background-color: red;
}

.body-container {
  .dflex();
  width: 100%;
  margin: 3%;
  background-color: red;
  gap: 4%;
}