@import "../includes/variables.less";
@import "../includes/mixins.less";
@import "../includes/fonts.less";

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 33.33vh;
    background: url('/images/bandeau-menu-admin-horizontale.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid black;
    z-index: 1;
    white-space: nowrap;
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #11a197;
        opacity: 0.9;
    }
    
    .top-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        width: auto;
    }
    
    .logo {
        margin-top: -30px;
        margin-left: 10%;
        z-index: 1;
        
        
        img {
            width: 80%;
            height: auto;
        }
    }
    
    
    .title {
        z-index: 1;
        text-align: center;
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        width: 100%;
        margin-left: 220px;
        
        h1 {
            font-family: 'Playfair Display', serif;
            font-style: italic;
            color: #fff;
            font-size: 45px;
            font-weight: 400;
        }
        
        p {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            font-size: 30px;
            font-weight: 400;
            white-space: nowrap;
        }
    }
    
    nav {
        position: relative;
        margin-right: 5%;
        z-index: 1;
        margin-top: -150px;
        
        .nav-container {
            display: flex;
            align-items: center;
            align-self: flex-start;
            margin-top: -20px;
        }
        
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 10px;
            
            li {
                margin-right: 20px;
                font-size: 0.8em;
                
                a {
                    text-decoration: none;
                    color: #000;
                }
                
                &.li-flex {
                    display: flex;
                    align-items: center;
                }
            }
        }
        
        .circle-container {
            margin-top: 10px;
            
            .outer-circle {
                width: 35px;
                height: 35px;
                border: 3px solid #fff;
                border-radius: 50%;
                .fullcenter();
                
                .inner-circle {
                    width: 30px;
                    height: 30px;
                    background-color: #000;
                    border-radius: 50%;
                }
            }
        }
    }
}

section {
    width: 100%;
    height: 60vh;
    background-color: #eee;
    z-index: 2;
    position: relative;
    
    .cards-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -30px;
        height: 25vh;
    }
    
    .card-row {
        .dflex();
        justify-content: flex-start;
        gap: 30px;
        margin-left: 30px;
        min-height: max-content;
    }
    
    .card {
        background-color: white;
        width: 28%;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        .dflex();
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        margin-top: -30px;
        height: 30%;
        
        .content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }

        .content-circle{
            width: 26%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .text-and-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 20px;
        }
        
        .circle {
            background-color: @colorYellow;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 20px;
            margin-top: 20px;
            .fullcenter();
        }

        .circle-number{
            text-align: center;
            font-family: 'Playfair Display';
            font-style: italic;
            font-size: 3em;
            margin-bottom: 50px;
            color: #777;
        }
        
        .card-text {
            h3 {
                margin: 0;
                font-size: 24px;
                text-align: left;
            }
            
            p {
                margin: 0;
                margin-bottom: 20px;
                font-size: 18px;
                text-align: left;
                white-space: nowrap;
            }
        }
        
        button {
            background-color: @colorNightBlue;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-left: auto;
            
            &.common-button {
                
                margin: 0 auto;
                display: block;
                white-space: nowrap;
            }
        }
    }
    
    .card.center-card {
        width: 37%;
    }
}

.content-circle-news{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    justify-content: flex-end;
}

.button-card{
    display: flex;
    width: auto;
    justify-content: flex-start;
}


footer {
    background-color: @colorYellow;
    width: 100%;
    height: 6.67%;
}











// Styles for medium screens
@media (min-width: 1919px) {
    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-row{
        .dflex();
        justify-content: space-between;
    }
}

// Styles for small screens
@media (max-width: 768px) {
    .circle-container {
        display: none;
    }
    .nav ul {
        flex-direction: column;
        align-items: center;
    }
}

// Styles for very small screens (mobile)
@media (max-width: 480px) {
    body {
        font-size: 9px;
    }

    header, .main-content, footer {
        padding: 5px;
    }

    .nav ul li {
        margin-bottom: 10px;
    }

    .cards-section{
        display: flex;
        flex-direction: column;
    }
}

