@import "../includes/variables.less";
@import "../includes/mixins.less";
@import "../includes/fonts.less";

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    .fullcenter();
    text-align: center;
    font-family: 'Playfaire Display', serif;
    font-style: italic;
    font-weight: 400;
}


form{
    background-color: @colorYellow;
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}






