@import "../includes/variables.less";
@import "../includes/mixins.less";

body {
  display: flex;
  height: 100vh;
  background-color: @lightGray;
  font-family: "Montserrat", sans-serif;

  .body-container {
    .dflex();
    width: 100%;
    margin: 2%;
    gap: 4%;
  }

  header {
    .fullcenter();
    align-items: center;
    margin-left: 20%;
    width: 80%;
    letter-spacing: 2px;
    height: 10vh;
    padding-left: 6%;

    h1 {
      width: 100%;
      .part1 {
        font-weight: 900;
      }
      .part2 {
        font-weight: 5;
      }
      .part3 {
        color: @colorTeal;
        font-weight: 900;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 20% 54% 22%;
    grid-gap: 2%;
    height: 100%;
    width: 100%;
    #title {
      text-align: center;
    }
  }

  .container-latest-registrants {
    background-color: white;
    border-top: 5px solid @colorYellow;
    height: 70%;
    #title {
      height: 80px;
      .fullcenter();
    }
  }

  .container-post {
    height: auto;
  }

  .container-categories {
    height: auto;
    ul {
      li {
        background-color: @colorYellow;
        .dflex();
        align-items: center;
        padding-left: 15%;
        list-style: none;
        height: 60px;
      }
    }
  }
}
