@import "../includes/variables.less";
@import "../includes/mixins.less";
@import"../includes/fonts.less";


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    background-color: #eee;
}

.main-content {
    flex-grow: 1; // Permet au contenu principal de remplir l'espace restant
    width: 100%;
}

.banner-container {
    border: 1px solid black;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin: 40px;
    background: lightblue;
    position: relative;
    border-bottom: 5px solid @colorYellow;
}

.profile-image {
    position: absolute;
    border: 7px solid white;
    border-radius: 50%;
    width: 120px; 
    height: 120px; 
    top: 180px; 
    left: 50%;
    transform: translateX(-50%) translateY(-65%); // Centrer horizontalement et déplacer vers le haut
}

.card {
    flex-direction: column;
    background: white;
    height: auto;
    width: 300px;
    align-self: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-left: 40px;
}


.firstname {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 25px;
}

.lastname {
    font-size: 25px;
}

.chocolate-shop {
    color: @colorTeal;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.description {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;  
    text-align: left
}

.social-icons {
    .fullcenter();
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
        .fullcenter();
        width: 34px;
        height: 34px;
        background-size: cover;
        background-position: center;
        color: black;
        border: 2px solid @colorYellow;
        border-radius: 50%;
        box-sizing: border-box;
        text-decoration: none;
    }
}

.email-button {
    display: block;
    margin-top: 20px; 
    padding: 10px 15px;
    background-color: @colorNightBlue;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    width: 100%; 
}

.content-container {
    display: flex;
    flex-direction: row; // Aligner la card et le post-container côte à côte
    justify-content: center;
    margin-top: 40px; 
    width: auto;
    gap: 40px;
}

.posts-container{
    flex-direction: column;
    justify-content: flex-start;
    width: 55%;
    align-items: start;
    margin-top: 40px;
}

.post-header{
    display: flex;
    gap: 10px;
    text-align: center;
    margin-bottom: 30px;

        h2, p{
            margin: 0;
            font-size: 25px;
        }
}

.button-container {
    display: flex;
    flex-direction: column;    
    gap: 10px;
    margin-right: 40px;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    text-decoration: none;
    background-color: @colorNightBlue;
    color: white;
    border-radius: 4px;
    width: 170px; 
    text-align: center; 
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.trombinoscope {
    background-color: @colorTeal;
}


// Petits écrans (320px - 600px)
@media screen and (max-width: 600px) {
    .card, .posts-container, .button-container {
        width: 100%;
        margin: 10px 0;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .banner-container, .profile-image {
        width: 100%;
        left: 0;
        transform: translateY(-65%);
    }
}

// Écrans moyens (601px - 899px)
@media screen and (min-width: 601px) and (max-width: 899px) {

    .main-content{
        margin-top: 50px;
    }

    .card {
        width: 45%;
    }

    .posts-container {
        width: 50%;
    }

    .content-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .banner-container, .profile-image {
        width: 90%;
        left: 5%;
        transform: translateY(-65%);
    }
}



@media screen and (min-width: 900px) and (max-width: 1200px) {
    .main-content{
        margin-top: 50px;
    }
}