{% extends 'base_member.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/styles/css/actualite_style.css">
{% endblock %}

{% block javascripts %}
	<script src="/assets/styles/js/scripts.js" defer></script>
{% endblock %}


{% block body %}


<div class="body-container">
	<p>trjdgn</p>
</div>

    
{% endblock %}
