{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription Super Administrateur</h1>
    
    {% include 'registration/base_form.html.twig' with {'form': registrationForm} %}
{% endblock %}
