{% extends 'base_member.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="/assets/styles/css/accueil_style.css">
	<link rel="stylesheet" href="/assets/styles/css/sidebar_style.css">

{% endblock %}
{% block javascripts %}
<script src="/assets/styles/js/scripts.js" defer></script>
{% endblock %}



{% block body %}

	{# <div class="sidebar-container">
					
						</div> #}
	<div class="body-container">
		<div class="posts-container">
			<div class="header-container-posts">
				<h3>Bienvenue sur ton espace,</h3>
				<p>voici les derniers posts publiés.</p>
			</div>
			<div class="grid-container">
				<div class="div" id="un">1</div>
				<div class="div" id="deux">2</div>
				<div class="div" id="trois">3</div>
				<div class="div" id="quatre">4</div>
				<div class="div" id="cinq">5</div>
				<div class="div" id="six">6</div>
			</div>

		</div>
		<div class="news-container">
			<div class="header-container-news">
				<h3>Les dernières actualités</h3>
				<p>de l'entreprise</p>
			</div>
			{% for news in news %}
				<div class="block-news">
					<div class="block-img">
						{% if news.chocolateShop %}
							<p class="ruban-jaune">
								{{ news.chocolateShop.city }}
							</p>
						{% endif %}
					</div>
					<div class="block-text">
						<h5>{{ news.title }}</h5>
						<p>{{ news.content }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>{% endblock %}
