body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.menu-vertical {
  background-color: #f7f7f8;
  width: 250px;
  height: 100vh;
}
.menu-vertical .section-profil {
  background-color: #1f2547;
  height: calc(100% / 3);
  padding: 20px;
  position: relative;
}
.menu-vertical .section-profil .profile-image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.menu-vertical .section-profil .name-details {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.menu-vertical .section-profil .name-details .prenom {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: white;
}
.menu-vertical .section-profil .name-details .nom {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.menu-vertical .section-profil .voir-profil {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: absolute;
  width: 80%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0baa9f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.menu-vertical .section-liens {
  background-color: #191e39;
  height: calc((100% / 3) * 2);
}
.menu-vertical .section-liens .menu-link {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}
.menu-vertical .section-liens .menu-link:hover {
  background-color: #15394d;
}
.menu-vertical .section-logo {
  padding: 20px;
  text-align: center;
}
.menu-vertical .section-logo img {
  max-width: 80%;
  height: auto;
}
