{% extends 'base.html.twig' %}

{% block title %}Modifier Actualités{% endblock %}

{% block body %}
    <h1>Modifier Actualités</h1>

    {{ include('news/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_news_index') }}">Retour à la liste</a>

    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
