<form method="post" action="{{ path('app_post_delete', {'slug': post.slug}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.slug) }}">
    <button class="btn">Supprimer</button>
</form>
