<h1>Activer votre compte</h1>
<p>Bonjour {{ user.getFirstName() }},</p>
<p>Votre inscription sur le réseau social DavidKenos est à valider en cliquant sur le lien ci-dessous :</p>
<p><a href="">Lien</a></p>
<p>Ce lien expirera dans 5 heures</p>